section {
  margin-top: 80px;
}

form {
  background: None;
  width: 100%;
  padding: 0px;
}

label, .green-label {
  font-weight: bold;
  background: #1E3C3F;
  padding:10px;
  margin-right: 10px;
}

input, button, select {
  font-family: 'Mulish', sans-serif;
  height: 48px;
  margin: 0 8px 0 0;
  min-width: 48px;
}

input, select {
  padding: 0 0 0 8px;
  width: 25%;
  border-radius: 4px;
  border: 1px solid #ccc;
}

select {
  width: fit-content;
}

button:disabled,
button[disabled]{
  background-color: #E1A46D;
  color: #fff;
}

.flex{
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.form-submit {
  width: 100%;
  margin-top: 10px;
  background: #1E3C3F;
  color: #fff;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
}

.form-group-container {
  border: none;
  padding: 0;
}

.form-group {
  margin: 0 40px 24px 0;
  display: flex;
}

/*Drawing Board Section*/
.drawing-canvas-background{
  background-color: #1E3C3F;
  width: 96vw;
  height: 24vh;
  padding: 20px;
}

.drawing-canvas{
  background-color: #C4C4C4;
  width:100%;
  height:100%;
}

.yellow-textbox{
  background: #E1A46D;
  padding:10px;
  margin-left: 10px;
  font-weight: bold;
  display: inline-block;
}

.drawing-button{
  margin-top: 10px;
  margin-right: 10px;
  background: #1E3C3F;
  color: #fff;
  font-family: 'Mulish', sans-serif;
}

input#drawing {
  width: fit-content;
}

/*CNN Section*/
.form-group-half {
  width: 50%;
  min-width: 310px;
}

#batch_norm-0, #batch_norm-1, #batch_norm-2, #batch_norm-3 {
  width: auto;
}

.cnn-section p {
  margin-bottom: 24px;
}

#cnn-form-info {
  margin-top: 32px;
}

/* Retrain Section */
.retrain-section p {
  margin-bottom: 24px;
}

@media screen and (max-width:700px) {
  .retrain-section .flex {
    flex-direction:column-reverse;
  }

  .form-group {
    margin: 0 0 24px 0;
  }

  .form-group-half {
    width: 100%;
    min-width: auto;
  }
}
