{% macro render_field(field) %}
<div class="form-group">
{{ field.label(class="green-label") }}
{{ field }}
</div>

<div class="error">
{% if field.errors %}
    {% for error in field.errors %}
        {{error}}
    {% endfor %}
{% endif %}
</div>
{% endmacro %}


{% macro render_field_xy(field) %}
<div class="form-group">
    {{ field.label(class="green-label") }}
    x: {{ field.x }}
    y: {{ field.y }}

    {% if field.errors %}
    <ul>
        {% for fieldname, error in field.errors.items() %}
            <li> {{fieldname}}: {{error}} </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endmacro %}


{% macro render_fieldlist(fieldlist, layer_type, field_type)%}
    {% for field in fieldlist %}
        <div class="{{layer_type}}-layer{{loop.index}}"  style="display: none;">
            {% if field_type == "single" %}
                {{ render_field(field)}}
            {% else %}
                {{ render_field_xy(field) }}
            {% endif %}
        </div>
    {% endfor %}
{% endmacro %}
