{% extends 'base.html' %}
{% from '_formhelpers.html' import render_field, render_fieldlist %}



{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}

<section class="drawing-section">
    <h2>Drawing Board</h2>
    <div class="flex">
        <div class="drawing-canvas-background">
            <canvas id="drawing-canvas">
                Unfortunately your browser does not support HTML canvas.
                <script src="{{url_for('static', filename='drawing.js')}}"></script>
            </canvas>
        </div>
        <div">
            <div class="flex">
                <label class="green-label">Prediction: </label>
                <div class="yellow-textbox">A</div>
            </div>
            <div class="flex">
                <label class="green-label">Probability: </label>
                <div class="yellow-textbox">0%</div>
            </div>
            <div>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </p>
            </div>
        </div>

    </div>

    <button class="drawing-button">Clear</button>
    <button class="drawing-button">Submit</button>

    <div>
        {% if session.classification and session.probability%}
        <p>Prediction: {{ session.classification }}<br>
        Probability: {{ session.probability }}%</p>
        {% endif %}
        <form method="POST" action="classify" name="classify" enctype="multipart/form-data">

            <label class="green-label">Classify Image</label>

            <input type="file" name="drawing" id="drawing">
            <input type="submit">
        </form>
    </div>

</section>

<section class="cnn-section">
    <h2>Convolutional Neural Networks</h2>

    <div>
        <h3>What are Convolutional Layers?</h3>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”</p>
    </div>

    <form method="POST" action="">
        {{ cnn_form.csrf_token }}

        <div class="flex-wrap">
            <div class="form-group flex-wrap">
                <label class="green-label">Convolutions:</label>
                <div>
                  <button type='button' class='convLayerBtn'>1</button>
                  <button type='button' class='convLayerBtn'>2</button>
                  <button type='button' class='convLayerBtn'>3</button>
                  <button type='button' class='convLayerBtn'>4</button>
                </div>
            </div>

            <fieldset class="form-group-container">
                {{render_fieldlist(cnn_form.conv_layer_on, "conv", "single")}}
            </fieldset>
        </div>

        <fieldset class="form-group-container flex-wrap">
            <div class="form-group-half">
                {{render_fieldlist(cnn_form.filters, "conv", "single")}}
                {{render_fieldlist(cnn_form.kernel, "conv", "double")}}
                {{render_fieldlist(cnn_form.stride, "conv", "double")}}
            </div>

            <div class="form-group-half">
                {{render_fieldlist(cnn_form.padding, "conv", "single")}}
                {{render_fieldlist(cnn_form.pool_size, "conv", "double")}}
                {{ render_fieldlist(cnn_form.batch_norm, "conv", "single")}}
            </div>

        </fieldset>

        <div id="cnn-form-info">
            <h3>What are Fully Connected Layers?</h3>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”</p>
        </div>

        <div class="flex-wrap">
            <div class="form-group flex-wrap">
                <label class="green-label">Fully Connected Layers:</label>
                <div>
                  <button type='button' class="fcLayerBtn">1</button>
                  <button type='button' class="fcLayerBtn">2</button>
                  <button type='button' class="fcLayerBtn">3</button>
                  <button type='button' class="fcLayerBtn">4</button>
                </div>
            </div>

            <fieldset class="form-group-container">
                {{ render_fieldlist(cnn_form.fc_layer_on, "fc", "single") }}
            </fieldset>
        </div>

        <fieldset class='form-group-container'>
            {{render_fieldlist(cnn_form.output_size, "fc", "single")}}
            {{render_fieldlist(cnn_form.dropout, "fc", "single")}}
            {{render_fieldlist(cnn_form.activation, "fc", "single")}}
        </fieldset>


    <h2>Retrain Model</h2>

        <div id='retrain-form-info'>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”</p>
        </div>

        <div class= "flex">
            <fieldset class="form-group-container">
                {{ render_field(cnn_form.optimizer) }}
                {{ render_field(cnn_form.learning_rate) }}
                {{ render_field(cnn_form.beta1) }}
                {{ render_field(cnn_form.beta2) }}
                {{ render_field(cnn_form.batch_size) }}
                {{ render_field(cnn_form.epochs) }}
            </fieldset>
            <div id='instruction-div'>
            <h3>Instructions:</h3>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”</p>
            </div>
        </div>
        {% if cnn_form.errors %}
        ERRORS:
        <ul>
            {% for key, val in cnn_form.errors.items() %}
                <li>{{key}} -- {{val}}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div id='loading' style='display:none'>
            <center>
                <img src="{{ url_for('static', filename='images/loading.gif') }}", alt="Training"><br>
                Training
            </center>
        </div>

        <input type='submit' value="Train Model"  action ='train' class="form-submit" onclick='document.getElementById("loading").style.display="block"'>

    </form>
</section>


<section>
    <h2>Show Feature Maps</h2>
    <div id='feature-maps'>
        {% if session.get('feature_maps') %}
            {% for filepath in session.get('feature_maps') %}
                <img src='{{ filepath }}'>
            {% endfor %}
        {% endif %}
    </div>
    <form method="POST" action="{{ url_for('cnn') }}">
        {{ fm_form.csrf_token }}
        <input type="submit" value="Show Feature Maps" class="form-submit">
    </form>
</section>

<script src="{{url_for('static', filename='index.js')}}"></script>
{% endblock %}
