{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<h1>Baybayin Letter Classifier</h1>
<h5> Hello, User {{ session.uid }} pi</h5>
<form method="POST" action="/cnn" name="CNN_params">
    CNN Parameters
    <div class="row">
        filters: <input type="number" name="filters" value={{session.cnn_params.filters}}>
    </div>
    <div class="row">
        kernel: 
        <input type="number" name="kernel_x" value={{session.cnn_params.kernel_x}}>
        <input type="number" name="kernel_y" value={{session.cnn_params.kernel_y}}>
    </div>
    <div class="row">
        strides: 
        <input type="number" name="stride_x" value={{session.cnn_params.stride_x}}> 
        <input type="number" name="stride_y" value={{session.cnn_params.stride_y}}>
    </div>
    <div class="row">
        padding: <input type="number" name="padding" value={{session.cnn_params.padding}}>
    </div>
    <div class="row">
        pool_size: 
        <input type="number" name="pool_x" value={{session.cnn_params.pool_x}}> 
        <input type="number" name="pool_y" value={{session.cnn_params.pool_y}}>
    </div>
    <div class="row">
        batch_norm: <input type="number" name="batch_norm" value={{session.cnn_params.batch_norm}}>
    </div>
    <input type="submit">
</form>

<form method="POST" action="/train" name="training_params">
    Training Parameters
    <div class="row">
        directory: <input type="number" name="directory" value={{session.train_params.directory}}>
    </div>
    <div class="row">
        learning_rate:  <input type="number" name="learning_rate" value={{session.train_params.learning_rate}}>
    </div>
    <div class="row">
        batch_size:  <input type="number" name="batch_size" value={{session.train_params.batch_size}}>
    </div>
    <div class="row">
        epochs: <input type="number" name="epochs" value={{session.train_params.epochs}}>
    </div>
    <div class="row">
        momentum: 
        <input type="number" name="momentum" value={{session.train_params.momentum}}>
    </div>
    <div class="row">
        optimizer: <input type="number" name="optimizer" value={{session.train_params.optimizer}}>
    </div>
    <input type="submit">
</form>
{% endblock %}
